# Dependencias
node_modules/

# Plataformas nativas generadas por Capacitor
android/
ios/

# Builds y artefactos
.gradle/
build/
*.apk
*.aab
*.keystore

# Sistema / editores
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
